body {
    text-align: center;
    margin: 0 auto;
    background-color: #141820;
}

.timetext {
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
    color: #969aa4;
    letter-spacing: .5px;
    /* display: inline;s */
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #C5C9D0;
    letter-spacing: 2px;
    margin-top: 10px;
}

#milliseconds {
    font-size: 35px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
    margin-left: auto;
    margin-right: auto;
}

table tr th {
    font-size: 25px;
    color: #C5C9D0;
    letter-spacing: 1.7px;
}

table tr th .bottombar {
    margin: 0 auto;
    margin-top: 10px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    height: 4px;
    background-color: #ffffff;
}

table tr th .lap {
    width: 40px;
}

table tr th .time {
    width: 35px;
}

table tr th .total {
    width: 40px;
}

table tr .top {
    padding-top: 15px;
    border-top: none;
}

table tr td {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    font-size: 23px;
    color: #969aa4;
    border-top: 1px #222936 solid;
}

button {
    align-items: center;
    appearance: none;
    background-color: #141820;
    border-radius: 100px;
    border-style: none;
    box-shadow: #00000033 0 0px 15px 5px, #00000024 0 0px 15px 5px;
    box-sizing: border-box;
    color: #C5C9D0;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 58px;
    justify-content: center;
    letter-spacing: 1px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin: 10px;
    margin-top: 17px;
}

button:not(:disabled):hover {
    color: #ffffff;
    box-shadow: #00000033 0 0px 10px 2px, #00000024 0 0px 10px 0;
}

button:disabled:hover {
    cursor: not-allowed;
}

button:disabled {
    box-shadow: #00000033 0 0px 10px 0px, #00000024 0 0px 10px 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #0d0f15;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #060409;
}